.sobre{
    padding-top: 2.1em;
}

.sobremim {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills{
    padding-top: 1.5em;
    padding-bottom: 0.8em;
}

.icone{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.icone__logo{
    height: 80px;
}