.sobre{
    padding-top: 2.1em;
}

.sobremim {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.skills{
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.icone{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.375rem;
}

.icone__logo{
    height: 5rem;
}